---
import MarkdownBody from "@/components/content/MarkdownBody.astro";
import Container from "@/layouts/containers/Container.astro";
import Layout from "@/layouts/Layout.astro";
import DefaultPage from "@/layouts/DefaultPage.astro";
import "@/styles/themes.css";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("blogposts");
  return posts.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout title={post.data.title}>
  <DefaultPage customTheme={{ background: "bg-slate-50" }}>
    <Container>
      <section class="mb-8 space-y-2">
        <div class="flex items-center gap-x-2 py-1 text-sm text-slate-600 dark:text-slate-300">
          <div class="inline-flex items-center gap-x-2 rounded-full bg-slate-500/10 px-3 py-1 text-xs font-medium">
            Blog post
          </div>
        </div>
        <h2 class="flex items-center gap-x-4 text-3xl font-semibold">
          {post.data.title}
        </h2>
      </section>

      <section class="flex flex-col gap-16 lg:flex-row xl:justify-between">
        <div>
          <MarkdownBody>
            <Content />
          </MarkdownBody>
          <dl class="mt-12 flex flex-col gap-y-4 text-sm text-slate-600 dark:text-slate-300">
            <div class="flex flex-col gap-y-2">
              <dt class="font-semibold">Published</dt>
              <dd class="rel-timestamp">
                {post.data["date-created"].toISOString()}
              </dd>
            </div>
            <div class="flex flex-col gap-y-2">
              <dt class="font-semibold">Last updated</dt>
              <dd class="rel-timestamp">
                {post.data["date-updated"].toISOString()}
              </dd>
            </div>
          </dl>
        </div>
      </section>
    </Container>
  </DefaultPage>
</Layout>