---
import { getCollection, render } from "astro:content";

import MarkdownBody from "@/components/content/MarkdownBody.astro";
import Container from "@/layouts/containers/Container.astro";
import DefaultPage from "@/layouts/DefaultPage.astro";
import Layout from "@/layouts/Layout.astro";

import "@/styles/themes.css";

export async function getStaticPaths() {
  const terms = await getCollection("terms");
  return terms.map((term) => ({
    params: { slug: term.data.slug },
    props: { term },
  }));
}

const { term } = Astro.props;
const { Content } = await render(term);
---

<Layout title={term.data.title}>
  <DefaultPage customTheme={{ background: "bg-gray-50 dark:bg-gray-900" }}>
    <Container>
      <section class="mb-8 space-y-2">
        <h2 class="flex items-center gap-x-4 text-3xl font-semibold">
          {term.data.title}
        </h2>
      </section>

      <section class="max-w-3xl">
        <MarkdownBody>
          <Content />
        </MarkdownBody>
      </section>
    </Container>
  </DefaultPage>
</Layout>
