@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700');

.space-mono {
    font-family: "Space Mono", monospace;
}

.hover-bb:hover {
    border-bottom-style: solid;
}

.lh-double {
    line-height: 2;
}