@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');
@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:400,400i,500,500i,700');

.rubik {
    font-family: "rubik", sans-serif;
}

.inconsolata {
    font-family: "Inconsolata", monospace;
}

.cursor-not-allowed {
    cursor: not-allowed;
}

.code-list li::before {
    content: ">";
    margin-right: 0.75em;
    color: rgb(255, 255, 255, 0.4)
}

.pv05 {
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
}