@layer base {
    a.extlink {
        color: var(--color-amber-400);
        text-decoration-line: underline;
        text-underline-offset: 4px;
    }

    a.extlink:hover {
        color: var(--color-amber-500);
    }
}