@import "@fontsource-variable/inter";
@import "@fontsource-variable/inter-tight";
@import "@fontsource-variable/jetbrains-mono";

@theme {
  --font-sans: "Inter Variable", sans-serif;
  --font-sans-tight: "Inter Variable", sans-serif;
  --font-mono: "JetBrains Mono Variable", monospace;
}

@custom-variant dark (&:where(.dark, .dark *));

:root {
  font-feature-settings: "ss01" 1, "ss02" 1, "ss07" 1, "ss08" 1, "zero" 1;
}
