@import "@fontsource-variable/geist";
@import "@fontsource-variable/instrument-sans";
@import "@fontsource-variable/jetbrains-mono";

@theme {
  --font-sans: "Geist Variable", sans-serif;
  --font-display: "Instrument Sans Variable", sans-serif;
  --font-mono: "JetBrains Mono Variable", monospace;
}
