---
interface Props {
  link_color?: string;
}

const { link_color = "prose-a:text-blue-600 hover:prose-a:text-blue-700 dark:prose-a:text-blue-400 dark:hover:prose-a:text-blue-300" } =
  Astro.props;
---

<div
  id="markdown-body"
  class:list={[
    "shrink-0 grow",
    "prose prose-slate dark:prose-invert",
    link_color,
    "prose-h5:text-md prose-h5:font-medium prose-h5:underline prose-h5:underline-offset-4",
    "prose-p:text-justify",
    "[&>.footnotes]:text-sm",
    "[&>.footnotes>h2]:text-md",
    "prose-inline-code:rounded-sm prose-inline-code:bg-slate-300 prose-inline-code:px-2 prose-inline-code:py-0.5 dark:prose-inline-code:bg-slate-600",
  ]}
>
  <slot />
</div>
