---
export interface Props {
  title: string;
  description: string;
  href?: string;
}

const { title, description, href } = Astro.props;
---

<a
  class:list={[
    "flex h-88 flex-col gap-4 z-50",
    "rounded px-6 py-6",
    "snap-start",
    "scroll-ml-2 first:ml-2",
    "md:scroll-ml-10 md:first:ml-10",
    "lg:scroll-ml-26 lg:first:ml-26",
    "transition duration-300 ease-in-out",
    "hover:z-50 hover:scale-102 hover:bg-white hover:shadow",
    "active:z-50 active:scale-102 active:bg-white active:shadow",
    "cursor-pointer"
  ]}
  href={href}
  ontouchstart=""
>
  <div class="aspect-4/3 h-48 object-cover">
    <slot name="thumbnail" />
  </div>
  <div class="flex flex-col gap-2">
    <h2 class="text-xl font-semibold">{title}</h2>
    <p class="text-md">{description}</p>
  </div>
</a>
