---
---

<div
  class:list={[
    "grid w-full gap-6",
    "grid-cols-1 md:grid-cols-2 xl:[grid-template-columns:repeat(auto-fit,minmax(22rem,26rem))]",
    "items-stretch",
    "justify-start",
  ]}
>
  <slot name="cards" />
</div>
