---
import { getCollection } from "astro:content";
import { sortPostsByDate } from "@/utils/content";
import "katex/dist/katex.min.css";

import Layout from "../layouts/Layout.astro";
import DefaultPage from "@/layouts/DefaultPage.astro";
import Container from "@/layouts/containers/Container.astro";
import InlineBlogPost from "@/components/blog/InlineBlogPost.astro";
import RelativeTimestampJS from "@/js/RelativeTimestampJS.astro";

import "@/styles/themes.css";

const blogposts = await getCollection("blogposts");
const all_posts = sortPostsByDate(blogposts);
---

<Layout 
  title="Blog"
  themeColorLight="#f3f4f6"
  themeColorDark="#1e293b"
>
  <DefaultPage customTheme={{ background: "bg-slate-50" }}>
    <Container>
        <h1
            class="font-sanstight mb-12 text-5xl leading-none font-bold md:text-6xl"
        >
        Blog
      </h1>
      
      {all_posts.map((post) => <InlineBlogPost post={post} />)}
    </Container>
  </DefaultPage>
  <RelativeTimestampJS />
</Layout>
