---
import memojiImage from "@blubits/assets/memoji.webp";
import sampleThumb from "@blubits/assets/sample_thumb.jpg";
import CardContainer from "@blubits/components/card/CardContainer.astro";
import CardItem from "@blubits/components/card/CardItem.astro";
import CardThumbIcon from "@blubits/components/card/CardThumbIcon.astro";
import CardThumbImage from "@blubits/components/card/CardThumbImage.astro";
import Container from "@blubits/layouts/containers/Container.astro";
import DefaultPage from "@blubits/layouts/DefaultPage.astro";
import Layout from "@blubits/layouts/Layout.astro";
import "@blubits/styles/styles.css";
import { Image } from "astro:assets";
---

<Layout>
  <DefaultPage
    background_color="bg-grid"
    logo_background_color="bg-transparent"
  >
    <Container>
      <h1
        class="font-sanstight mb-2 text-5xl leading-none font-bold md:text-6xl"
      >
        Hi there! I'm Maded.
      </h1>
      <div class="flex flex-col gap-6 md:flex-row">
        <div class="flex flex-col gap-6">
          <h2 class="font-sanstight text-2xl font-semibold">
            I tell stories and solve problems through code.
          </h2>
          <p class="max-w-xl text-lg leading-normal">
            Someday I hope to do something that changes the system to be for the
            good of the many, not the few. But right now, I'm a freelance tutor
            and developer, with years of experience helping others succeed.
          </p>
          <p class="max-w-xl text-lg leading-normal">
            I graduated with a degree in computer science from the University of
            the Philippines. When I'm not coding, I like playing video games,
            learning about new stuff, and going out to explore.
          </p>
        </div>
        <div
          class="order-first flex grow flex-col md:order-last md:items-center md:justify-center"
        >
          <Image src={memojiImage} class="w-64" alt="Memoji of Maded" />
        </div>
      </div>
    </Container>

    <Container class="mt-16">
      <h2 class="text-2xl font-semibold">What I'm working on</h2>
    </Container>

    <CardContainer>
      <Fragment slot="cards">
        <CardItem
          title="Tutoring"
          description="Helping you succeed in math and computer science."
          href="/tutoring"
        >
          <CardThumbIcon
            slot="thumbnail"
            icon_name="mdi:graduation-cap"
            bg_color="bg-gradient-to-tr from-blue-600 via-blue-500 to-blue-400"
            icon_color="text-white"
          />
        </CardItem>
        <CardItem
          title="Compet prog notes"
          description="On data structures, algorithms, and more."
          href="/notes"
        >
          <CardThumbIcon
            slot="thumbnail"
            bg_color="bg-gradient-to-tr from-lime-700 via-lime-600 to-lime-500"
            icon_name="mdi:code"
          />
        </CardItem>
        <CardItem title="Under construction" description="More to come later.">
          <CardThumbImage
            slot="thumbnail"
            src={sampleThumb}
            alt="Sample thumbnail"
          />
        </CardItem>
        <CardItem title="Under construction" description="More to come later.">
          <CardThumbImage
            slot="thumbnail"
            src={sampleThumb}
            alt="Sample thumbnail"
          />
        </CardItem>
        <CardItem title="Under construction" description="More to come later.">
          <CardThumbImage
            slot="thumbnail"
            src={sampleThumb}
            alt="Sample thumbnail"
          />
        </CardItem>
      </Fragment>
    </CardContainer>
  </DefaultPage>
</Layout>
