---
import memojiImage from "@blubits/assets/memoji.webp";
import sampleThumb from "@blubits/assets/sample_thumb.jpg";
import CardItem from "@blubits/components/CardItem.astro";
import CardThumbIcon from "@blubits/components/CardThumbIcon.astro";
import CardThumbImage from "@blubits/components/CardThumbImage.astro";
import Container from "@blubits/components/containers/Container.astro";
import ContainerFull from "@blubits/components/containers/ContainerFull.astro";
import DefaultPage from "@blubits/layouts/DefaultPage.astro";
import Layout from "@blubits/layouts/Layout.astro";
import "@blubits/styles/styles.css";
import { Image } from "astro:assets";
---

<Layout>
  <DefaultPage
    background_color="bg-gradient-to-r from-cyan-100 to-blue-200"
    foreground_color="text-gray-900"
    logo_background_color="bg-transparent"
    logo_foreground_color="stroke-gray-900"
  >
    <Container>
      <h1
        class="font-sanstight mb-8 text-5xl leading-none font-bold md:text-6xl"
      >
        Hi! I'm Maded.
      </h1>
      <div class="flex flex-col gap-6 md:flex-row">
        <div class="flex flex-col gap-6">
          <h2 class="font-sanstight text-2xl font-semibold">
            I tell stories and solve problems through code.
          </h2>
          <p class="max-w-xl text-lg leading-normal">
            Someday I hope to do something that changes the system to be for the
            good of the many, not the few. But right now, I'm a freelance tutor
            and developer, with years of experience helping others succeed.
          </p>
          <p class="max-w-xl text-lg leading-normal">
            I graduated with a degree in computer science from the University of
            the Philippines. When I'm not coding, I like to walk around and
            explore.
          </p>
        </div>
        <div
          class="order-first flex grow flex-col md:order-last md:items-center md:justify-center"
        >
          <Image src={memojiImage} class="w-64" alt="Memoji of Maded" />
        </div>
      </div>
    </Container>

    <ContainerFull>
      <div class="mt-12 flex flex-row flex-nowrap gap-8 overflow-x-auto">
        <CardItem
          title="Sample title"
          description="Lorem ipsum dolor sit amet."
        >
          <CardThumbImage
            slot="thumbnail"
            src={sampleThumb}
            alt="Sample title"
          />
        </CardItem>
        <CardItem
          title="Sample title"
          description="Lorem ipsum dolor sit amet."
        >
          <CardThumbIcon slot="thumbnail" icon_name="mdi:account" />
        </CardItem>
        <CardItem
          title="Sample title"
          description="Lorem ipsum dolor sit amet."
        >
          <CardThumbIcon slot="thumbnail" icon_name="mdi:account" />
        </CardItem>
        <CardItem
          title="Sample title"
          description="Lorem ipsum dolor sit amet."
        >
          <CardThumbIcon slot="thumbnail" icon_name="mdi:account" />
        </CardItem>
        <CardItem
          title="Sample title"
          description="Lorem ipsum dolor sit amet."
        >
          <CardThumbIcon slot="thumbnail" icon_name="mdi:account" />
        </CardItem>
      </div>
    </ContainerFull>
  </DefaultPage>
</Layout>
