---
import Card from "@blubits/components/Card.astro";
import Chip from "@blubits/components/Chip.astro";
import DefaultPage from "@blubits/layouts/DefaultPage.astro";
import Layout from "@blubits/layouts/Layout.astro";
import "@blubits/styles/styles.css";
import { Icon } from "astro-icon/components";
---

<Layout>
  <DefaultPage
    background_color="bg-gradient-to-b from-white via-gray-50 to-gray-100"
  >
    <main>
      <h1
        class="mb-8 font-sanstight text-5xl font-bold leading-none md:text-6xl"
      >
        Hi! I'm Maded.
      </h1>
      <section class="mt-12 grid grid-cols-4 gap-4 md:grid-cols-12">
        <Card
          span="col-span-4 md:col-span-6 lg:col-span-8 md:row-span-2"
          href="/tutoring"
          background="bg-gradient-to-r from-blue-600 via-blue-500 to-blue-400"
          text="text-white"
          emoji="🎓"
          emoji_size="text-5xl"
          title="Get tutoring"
          title_size="text-2xl"
          description="Learn more about my tutorial services in mathematics and computer science."
        />
        <Card
          span="col-span-4 md:col-span-6 lg:col-span-4 md:row-span-1"
          emoji="📓"
          title="cProg notes"
          description="Notes on algorithms, data structures, and more for competitive programming."
          href="/notes"
          background="bg-gradient-to-b from-zinc-900 via-zinc-800 to-zinc-700"
          ,
          text="text-white"
        />
        <Card
          span="col-span-2 md:col-span-3 lg:col-span-2 md:row-span-1"
          emoji="💻"
          title="Projects"
        />
        <Card
          span="col-span-2 md:col-span-3 lg:col-span-2 md:row-span-1"
          background="bg-slate-200"
          emoji="🦋"
          title="Bluesky"
        />
      </section>
      <section
        class="mt-8 inline-flex w-full flex-wrap items-center gap-y-2 space-x-2 text-sm md:mt-4 md:w-auto"
      >
        <p>Get in touch:</p>
        <a
          href="mailto:hi@blubits.me"
          data-obfuscation="0"
        >
          <Chip bg_color="bg-blue-500 text-white hover:bg-blue-700">
            <Icon name="mdi:email" class="" />
            <p>Email</p>
          </Chip>  
        </a>
        <a
          href="https://github.com/blubits/"
        >
          <Chip bg_color="bg-black text-gray-200 hover:text-white">
            <Icon name="mdi:github" class="" />
            <p>GitHub</p>
          </Chip>  
        </a>
      </section>
      <section
        class="mt-4 inline-flex flex-wrap items-center gap-y-2 space-x-2 text-sm md:mt-4 md:before:m-2 md:before:content-['•']"
      >
        <p>Source code on</p>
        <a
          href="https://github.com/blubits/blubits.me"
        >
          <Chip bg_color="bg-black text-gray-200 hover:text-white">
            <Icon name="mdi:github" class="" />
            <p>GitHub</p>
          </Chip>  
        </a>
      </section>
    </main>
  </DefaultPage>
</Layout>
