---
import NotePostItem from "@blubits/components/notes/NotePostItem.astro";
import { getCollection } from "astro:content";
import "katex/dist/katex.min.css";
import Layout from "../layouts/Layout.astro";
import NotesPage from "../layouts/NotesPage.astro";
import "../styles/styles-notes.css";

const editorials = await getCollection("editorials");
const modules = await getCollection("modules");
const all_posts = [...editorials, ...modules];
all_posts.sort(
  (a, b) =>
    new Date(b.data["date-created"]).getTime() -
    new Date(a.data["date-created"]).getTime(),
);
---

<Layout title="Notes">
  <NotesPage large>
    <main class:list={["flex flex-col gap-y-4"]}>
      {all_posts.map((post) => <NotePostItem post={post} />)}
    </main>
  </NotesPage>
</Layout>
