---
import Details from "@blubits/components/Details.astro";
import PostItem from "@blubits/components/PostItem.astro";
import DefaultPage from "@blubits/layouts/DefaultPage.astro";
import Layout from "@blubits/layouts/Layout.astro";
import "@blubits/styles/styles-dark.css";
import { getCollection } from "astro:content";
import { Image } from 'astro:assets';
import RelativeTimestampJS from "@blubits/components/js/RelativeTimestampJS.astro";

const projects = await getCollection("projects");
---

<Layout>
  <DefaultPage
    background_color="bg-gradient-to-r from-blue-600 to-violet-600"
    foreground_color="text-white"
    logo_background_color="bg-transparent"
    logo_foreground_color="stroke-white"
  >
    <main>
      <h1
        class="mb-8 font-sanstight text-5xl font-bold leading-none md:text-6xl"
      >
        Projects
      </h1>

      <section
        class="my-4 rounded-lg bg-yellow-500/50 py-2 text-center transition duration-300 hover:z-50 hover:scale-105"
      >
        <p class="text-lg font-semibold">
          📇 My manifesto: the year of projects
        </p>
      </section>

      <div>
        {
          projects.map((project) => (
            <PostItem
              href={`/projects/${project.id.split("/").at(-2)}`}
              title={project.data.title}
            >
              <Fragment slot="details-left">
                <Details direction="column" text_color="text-gray-300">
                  <p class="rel-timestamp text-sm">
                    {project.data["date-created"].toISOString()}
                  </p>
                </Details>
              </Fragment>
              <Fragment slot="image">
                <Image
                  src={project.data.image}
                  alt={project.data.title}
                  class="mb-4 rounded-lg w-full object-cover"
                />
              </Fragment>
            </PostItem>
          ))
        }
      </div>
    </main>
    <RelativeTimestampJS />
  </DefaultPage>
</Layout>
