---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { Image } from "astro:assets";
import Logo from "../components/Logo.astro";
---

<Layout
	title="@blubits"
	background_color="bg-gradient-to-r from-slate-900 to-slate-800"
>
	<main
		class="w-11/12 lg:w-5/6 grid gap-12 grid-cols-1 lg:grid-cols-2 m-auto pt-28 text-white"
	>
		<section class="px-6 lg:px-0">
			<a href="/">
				<Logo
					class="size-12 p-2 mb-8 stroke-white hover:stroke-yellow-500 hover:bg-slate-700 hover:rounded-full"
				/>
			</a>
			<h1
				class="text-6xl font-bold tracking-tight text-slate-200 leading-none"
			>
                Expert, trusted, and tailored tutoring for math and computer science.
			</h1>
			<p class="text-xs mt-8">
				&copy; 2024 @blubits. Powered by <a
					href="https://astro.build/"
					class="extlink">Astro</a
				> and <a href="https://www.tailwindcss.com" class="extlink"
					>Tailwind</a
				>.
			</p>
		</section>
		<section>
            <h1></h1>
		</section>
	</main>
</Layout>
