---
interface Props {
	title: string;
	href: string;
	under_construction?: boolean;
}

const { href, title, under_construction = false } = Astro.props;
---

<a
	class:list={[
		"group block px-6 py-4 mb-4",
		"border-4 border-transparent rounded-lg transition duration-150 ease-in-out",
		under_construction && "opacity-50 cursor-not-allowed",
		!under_construction && "hover:shadow-inner hover:bg-slate-700",
	]}
	href={href}
>
	<h2 class:list={["text-xl mb-2 font-semibold", !under_construction && "group-hover:text-yellow-500"]}>
		{title}
		<span>&rarr;</span>
	</h2>
	<div class="text-md text-pretty leading-normal">
		<slot />
	</div>
</a>
