---
interface Props {
  direction?: string;
  text_color?: string;
}

const { direction = "row", text_color = "text-gray-400" } = Astro.props;
---

<div
  class:list={[
    "flex",
    direction === "row" ? "items-center " : "flex-col",
    "flex-wrap gap-x-2 gap-y-1 text-sm",
    text_color
  ]}
>
  <slot />
</div>
