---
interface Props {
  direction?: string;
  text_color?: string;
}

const { direction = "row", text_color = "text-gray-400" } = Astro.props;
---

<div
  class:list={[
    direction === "row" ? "flex items-center gap-x-2" : "flex flex-col gap-y-1",
    "text-sm",
    text_color
  ]}
>
  <slot />
</div>
