---
interface Props {
  href: string;
  title: string;
}

const { href, title } = Astro.props;
---
<a
  class:list={[
    "mx-8 md:mx-16 lg:mx-32 grid grid-cols-2 gap-x-4 gap-y-2",
    "hover:rounded active:rounded px-6 py-6",
    "transition ease-in-out duration-300",
    "hover:z-50 hover:scale-102 hover:bg-white hover:shadow-xl",
    "active:z-50 active:scale-102 active:bg-white active:shadow-xl",
    "md:grid-cols-6 lg:grid-cols-7 lg:px-4",
    "border-t border-white/10 first:border-none hover:border-transparent"
  ]}
  href={href}
>
    <div class="col-span-4 md:col-span-6 lg:col-span-1">
        <slot name="details-left" />
    </div>
    <div class="col-span-2 space-y-1 md:col-span-4">
        <slot name="image" />
        <h2 class="text-xl font-semibold">{title}</h2>
        <slot name="description" />
    </div>
    <div class="col-span-4 md:col-span-2">
        <slot name="details-right" />
    </div>
</a>