---
import type { MarkdownHeading } from "astro";

interface Props {
  headings: MarkdownHeading[];
}

const { headings } = Astro.props;
---

<div class="sticky top-16 flex flex-col gap-y-4">
  <h3 class="text-xs font-semibold uppercase tracking-widest text-gray-400">
    On this page
  </h3>
  <ul class="text-md flex flex-col gap-0">
    {
      headings.map((heading) => (
        <li>
          <a
            class:list={[
              "inline-block",
              "text-gray-300",
              "border-l border-gray-600",
              "hover:border-white hover:text-white",
              "py-1",
              heading.depth === 2 || heading.text == "References"
                ? "pl-4"
                : "pl-8",
            ]}
            href={`#${heading.slug}`}
          >
            {heading.text}
          </a>
        </li>
      ))
    }
  </ul>
</div>
