<nav class="flex justify-between f5 bg-navy pv3 ph5 white space-mono">
  <span><a href="../index.html" class="link white hover-bb bw1 b--white">&#9194; &#127968; home</a></span> 
  <span>
    <a href="#" class="link white hover-bb bw1 b--white">&#128100; about</a> &bull; 
    <a href="#" class="link white hover-bb bw1 b--green">&#128188; work</a> &bull; 
    <a href="#" class="link white hover-bb bw1 b--silver">&#128300; lab</a> &bull; 
    <a href="#" class="link white hover-bb bw1 b--light-purple">&#128220; blog</a></span>
</nav>