<nav class="flex flex-wrap f5 pv4 ph5 ph6-ns black-90 space-mono">
  <img src="img/blubits-logo.svg" class="w2 h2 pv2">
  <div id="links" class="w-100 pv2"></div>
    <span><a href="../index.html" class="mr3 link black-90 dim hover-bb bw1 b--black-90">About</a></span> 
    <span><a href="../index.html" class="mr3 link black-90 dim hover-bb bw1 b--black-90">Portfolio</a></span> 
    <span><a href="../index.html" class="mr3 link black-90 dim hover-bb bw1 b--black-90">Sandbox</a></span> 
    <span><a href="../index.html" class="mr3 link black-90 dim hover-bb bw1 b--black-90">Blog</a></span>
    <span><a href="../index.html" class="mr3 link black-90 dim hover-bb bw1 b--black-90">Connect</a></span>
  </div> 
</nav> 