---
import { markdown } from "@astropub/md";
import Chip from "@blubits/components/Chip.astro";
import Details from "@blubits/components/Details.astro";
import PostItem from "@blubits/components/PostItem.astro";
import type { CollectionEntry } from "astro:content";
import { generateEditorialUrl, generateModuleUrl, getPlatformDisplayName } from "@blubits/utils/content";
import ModuleChip from "./ModuleChip.astro";
import EditorialChip from "./EditorialChip.astro";

interface Props {
  post: CollectionEntry<"modules"> | CollectionEntry<"editorials">;
}

const { post } = Astro.props;

const href = post.collection === "modules" 
  ? generateModuleUrl(post)
  : generateEditorialUrl(post);
---

<PostItem href={href} title={post.data.title}>
  <Fragment slot="details-left">
    <Details direction="column">
      <p class="rel-timestamp text-sm">
        {post.data["date-created"].toISOString()}
      </p>
    </Details>
  </Fragment>
  <div
    slot="description"
    class="prose prose-sm"
  >
    {
      post.collection === "editorials"
        ? markdown(post.data["problem-description"])
        : markdown(post.data.summary)
    }
  </div>
  <Fragment slot="details-right">
    <Details direction="column">
      {
        () => {
          if (post.collection === "modules") {
            return (
              <ModuleChip />
            );
          } else {
            return (
              <>
                <EditorialChip />
                <Details>
                  <p>{getPlatformDisplayName(post.data.platform)}</p>
                  <p>•</p>
                  <Chip variant="code">{post.data.code}</Chip>
                </Details>
              </>
            );
          }
        }
      }
    </Details>
  </Fragment>
</PostItem>
