---
import { markdown } from "@astropub/md";
import NoteHorizontalDetailsContainer from "./NoteHorizontalDetailsContainer.astro";

interface Props {
  href?: string;
  title?: string;
  summary?: string;
}

const { href, title = "Default title", summary } = Astro.props;
---

<a
  href={href}
  ontouchstart=""
  class:list={[
    "group block px-5 py-4 text-white",
    "overflow-hidden rounded-lg",
    "hover:bg-white hover:bg-opacity-5",
    "active:bg-white active:bg-opacity-5",
  ]}
>
  <NoteHorizontalDetailsContainer>
    <slot name="details-top" />
  </NoteHorizontalDetailsContainer>
  <NoteHorizontalDetailsContainer>
    <slot name="details-middle" />
  </NoteHorizontalDetailsContainer>
  <h3 class="text-lg font-semibold">{title}</h3>
  <div class="prose mt-2 prose-p:text-sm prose-p:text-white">
    {summary && markdown(summary)}
  </div>
</a>
