<div
    class:list={[
    "grow shrink-0",
    "prose prose-invert prose-p:text-white",
    "prose-h1:font-bold prose-h1:text-xl",
    "prose-a:text-lime-400 hover:prose-a:text-lime-500",
    "prose-p:text-justify",
    "[&>.footnotes]:text-sm",
    "[&>.footnotes>h2]:text-md",
    "prose-inline-code:py-0.5 prose-inline-code:px-2 prose-inline-code:rounded-sm prose-inline-code:bg-gray-500 prose-inline-code:bg-opacity-50",
    ]}
>
    <slot />
</div>