---
import { Icon } from "astro-icon/components";

let path = Astro.url.pathname.split("/");
path = path.slice(2, path.length);
path = path.filter((item) => item != "");
let base_path = "/notes";

let pretty: Record<string, string> = {
  "modules": "Modules",
  "l1": "Level 1",
  "l2": "Level 2",
  "l3": "Level 3",
}
---

<nav class:list={["my-8 flex", path.length == 0 ? "text-md" : "text-sm"]}>
  {
    path.length != 0 && (
      <ol class="inline-flex items-center space-x-1 md:space-x-2">
        <li>
          <a href="/notes" class="inline-flex items-center">
            <Icon name="mdi:book-open-variant" class="mr-2" />
            Notes
          </a>
        </li>
        {path.map((item) => {
          base_path += "/" + item;
          if (item.match(/^\d{2}\.\d{2}$/)) {
            return (
              <li class="inline-flex items-center text-sm">
                <Icon name="mdi:chevron-right" class="mr-2" />
                <a href={base_path}><span class="font-mono bg-gray-500/50 px-2 py-0.5">{item}</span></a>
              </li>
            );
          } else {
            return (
              <li class="inline-flex items-center text-sm">
                <Icon name="mdi:chevron-right" class="mr-2" />
                <a href={base_path}>{pretty[item]}</a>
              </li>
            );
          }
          
        })}
      </ol>
    )
  }
  {
    path.length === 0 && (
      <div class="flex items-center space-x-1 md:space-x-2">
        <Icon name="mdi:book-open-variant" />
        <p>Go to:</p>
        <a href="/notes/about" class="extlink">
          Methodology
        </a>
        <p>•</p>
        <a href="/notes/modules" class="extlink">
          Curriculum
        </a>
        <p>•</p>
        <a href="/notes/modules" class="extlink">
          All editorials
        </a>
      </div>
    )
  }
</nav>
