---
import MarkdownBody from "@blubits/components/MarkdownBody.astro";
import TableOfContents from "@blubits/components/TableOfContents.astro";
import Layout from "@blubits/layouts/Layout.astro";
import NotesPage from "@blubits/layouts/NotesPage.astro";
import "@blubits/styles/styles-notes.css";
import { Icon } from "astro-icon/components";
import { getCollection, render } from "astro:content";
import "katex/dist/katex.min.css";

export async function getStaticPaths() {
  const posts = await getCollection("modules");
  return posts.map((post) => ({
    params: { level: post.data.id[0], id: post.data.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content, headings } = await render(post);
---

<Layout title={post.data.title}>
  <NotesPage>
    <main>
      <section class="mb-8">
        <div class="flex items-center gap-x-2 py-1 text-sm text-gray-400">
          <p class="flex items-center gap-x-2">
            <Icon name="material-symbols:book-2" />Module
          </p>
          <p>•</p>
          <p
            class="flex items-center rounded-sm bg-gray-500 bg-opacity-50 px-2 py-0.5 font-mono"
          >
            {post.data.id}
          </p>
        </div>
        <h2 class="flex items-center gap-x-4 text-3xl font-semibold">
          {post.data.title}
        </h2>
      </section>

      <section class="flex flex-col gap-24 md:flex-row">
        <div>
          <MarkdownBody>
            <Content />
          </MarkdownBody>
          <dl class="mt-4 flex flex-col gap-y-4 text-sm">
            <div class="flex flex-col gap-y-2">
              <dt class="font-semibold">Module created</dt>
              <dd class="rel-timestamp">
                {post.data["date-created"].toISOString()}
              </dd>
            </div>
            <div class="flex flex-col gap-y-2">
              <dt class="font-semibold">Last updated</dt>
              <dd class="rel-timestamp">
                {post.data["date-updated"].toISOString()}
              </dd>
            </div>
          </dl>
        </div>
        <div class="order-first grow md:order-last">
          {
            headings.length > 0 && (
              <TableOfContents headings={headings} />
            )
          }
        </div>
      </section>
    </main>
  </NotesPage>
</Layout>
