@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');

.inconsolata {
    font-family: "Inconsolata", monospace;
}

.cursor-not-allowed {
    cursor: not-allowed;
}

.pv05 {
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
}

.shadow-header {
    box-shadow: 0 1px 0 rgba(0, 0, 0, .2);
}