---
import Footer from "@/components/nav/Footer.astro";
import Logo from "@/components/nav/Logo.astro";
import Navbar from "@/components/nav/Navbar.jsx";
import Container from "@/layouts/containers/Container.astro";
import { themes, type ThemeConfig } from "@/types/theme";
import { LOGO_STYLES } from "@/constants/ui";

interface Props {
  theme?: ThemeConfig['name'];
  customTheme?: Partial<ThemeConfig>;
}

const {
  theme = 'default',
  customTheme,
} = Astro.props;

const themeConfig = customTheme 
  ? { ...themes[theme], ...customTheme }
  : themes[theme];
---

<body
  class:list={[
    "m-auto min-h-screen pt-8 pb-12 md:pt-16",
    themeConfig.background,
    themeConfig.foreground,
    `theme-${themeConfig.name}`,
  ]}
>
  <Container>
    <Navbar dark={themeConfig.darkNavbar} client:load>
      <Logo
        class:list={[
          LOGO_STYLES.base,
          themeConfig.logoBackground,
          themeConfig.logoForeground,
          LOGO_STYLES.hover,
        ]}
      />
    </Navbar>
  </Container>

  <main class="overflow-visible">
    <slot />
  </main>

  <Container>
    <Footer />
  </Container>
</body>
