---
import Footer from "@blubits/components/nav/Footer.astro";
import Logo from "@blubits/components/nav/Logo.astro";
import Navbar from "@blubits/components/nav/Navbar.jsx";
import Container from "@blubits/layouts/containers/Container.astro";
import "@fontsource-variable/inter";
import "@fontsource-variable/inter-tight";
import "@fontsource-variable/jetbrains-mono";

interface Props {
  background_color?: string;
  foreground_color?: string;
  logo_background_color?: string;
  logo_foreground_color?: string;
  dark_navbar?: boolean;
}

const {
  background_color = "bg-gradient-to-b from-white via-gray-50 to-gray-100",
  foreground_color = "text-black",
  logo_background_color = "bg-gray-200",
  logo_foreground_color = "stroke-black",
  dark_navbar = false,
} = Astro.props;
---

<body
  class:list={[
    "m-auto bg-fixed pt-14 pb-14 md:pt-28",
    background_color,
    foreground_color,
  ]}
>
  <Container>
    <Navbar dark={dark_navbar} client:load>
      <Logo
        class:list={[
          "size-12 p-2",
          logo_background_color,
          logo_foreground_color,
          "rounded-full hover:rounded-full hover:bg-slate-700 hover:stroke-yellow-500",
        ]}
      />
    </Navbar>
  </Container>

  <main>
    <slot />
  </main>

  <Container>
    <Footer />
  </Container>
</body>
