---
import { string } from 'astro/zod';
import '../styles/styles.css';

interface Props {
	title: string;
	background_color: string;
}

const { title, background_color } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class={background_color}>
		<slot />
	</body>
</html>