---
import "@blubits/styles/styles-notes.css";
import "@fontsource-variable/inter";
import "@fontsource-variable/inter-tight";
import "@fontsource-variable/jetbrains-mono";
import DefaultPage from "./DefaultPage.astro";
import { Icon } from "astro-icon/components";
import RelativeTimestampJS from "@blubits/components/js/RelativeTimestampJS.astro";

interface Props {
  background_color?: string;
  foreground_color?: string;
  logo_background_color?: string;
  logo_foreground_color?: string;
  large?: boolean;
}

const {
  background_color = "bg-gradient-to-b from-zinc-900 via-zinc-800 to-zinc-700",
  foreground_color = "text-white",
  logo_background_color = "bg-transparent",
  logo_foreground_color = "stroke-white",
  large = false,
} = Astro.props;
---

<DefaultPage
  background_color={background_color}
  foreground_color={foreground_color}
  logo_background_color={logo_background_color}
  logo_foreground_color={logo_foreground_color}
  dark_navbar
>
  <section>
    <h1
      class:list={[
        "inline-flex flex-wrap items-center",
        large ? "mb-12 gap-x-4" : "mb-6 gap-x-2",
        "font-sanstight",
        large ? "font-bold" : "font-semibold",
        large ? "text-3xl md:text-4xl" : "text-lg md:text-xl",
      ]}
    >
      {
        !large && (
          <a href="/notes">
            <Icon
              name="mdi:arrow-left"
              class="h-8 w-8 rounded-full p-1 hover:bg-white/10"
            />
          </a>
        )
      }
      <span
        >Notes for <span class:list={["font-mono text-lime-500"]}
          >competitive programming</span
        ></span
      >
    </h1>
  </section>
  <slot />
  <RelativeTimestampJS />
</DefaultPage>
