---
import "@/styles/themes.css";
import DefaultPage from "./DefaultPage.astro";
import { Icon } from "astro-icon/components";
import RelativeTimestampJS from "@/js/RelativeTimestampJS.astro";
import Container from "./containers/Container.astro";
import PageTitle from "@/components/layout/PageTitle.astro";
import type { ThemeConfig } from "@/types/theme";

interface Props {
  theme?: ThemeConfig['name'];
  customTheme?: Partial<ThemeConfig>;
  large?: boolean;
}

const {
  theme = 'notes',
  customTheme,
  large = false,
} = Astro.props;
---

<DefaultPage theme={theme} customTheme={customTheme}>
  <Container>
    <PageTitle
      size={large ? "lg" : "sm"}
      class:list={[
        "inline-flex flex-wrap items-center",
        large ? "mb-12 gap-x-4" : "mb-6 gap-x-2",
      ]}
    >
      {
        !large && (
          <a href="/notes">
            <Icon
              name="mdi:arrow-left"
              class="h-8 w-8 rounded-full p-1 hover:bg-white/10"
            />
          </a>
        )
      }
      <span>Notes for competitive programming</span>
    </PageTitle>
  </Container>
  <slot />
  <RelativeTimestampJS />
</DefaultPage>
