---
import NotesNavbar from "@blubits/components/NotesNavbar.astro";
import "@blubits/styles/styles-notes.css";
import "@fontsource-variable/inter";
import "@fontsource-variable/inter-tight";
import "@fontsource-variable/jetbrains-mono";
import DefaultPage from "./DefaultPage.astro";

interface Props {
  background_color?: string;
  foreground_color?: string;
  logo_background_color?: string;
  logo_foreground_color?: string;
}

const {
  background_color = "bg-gradient-to-b from-zinc-900 via-zinc-800 to-zinc-700",
  foreground_color = "text-white",
  logo_background_color = "bg-transparent",
  logo_foreground_color = "stroke-white",
} = Astro.props;
---

<DefaultPage
  background_color={background_color}
  foreground_color={foreground_color}
  logo_background_color={logo_background_color}
  logo_foreground_color={logo_foreground_color}
>
  <section>
    <h1 class="mb-4 font-sanstight text-3xl font-bold leading-none md:text-4xl">
      Notes for <span
        class="mx-2 rounded-md bg-lime-600 px-4 py-2 font-mono text-gray-900"
        >competitive programming</span
      >
    </h1>
    <NotesNavbar />

    <div class="my-8 border-t border-gray-600"></div>
  </section>
  <slot />
</DefaultPage>
