<footer class="my-12">
  <p class="text-xs">
    &copy; 2024-2025 @blubits. All rights reserved. Powered by <a
      href="https://astro.build/"
      class="extlink">Astro</a
    > and <a href="https://www.tailwindcss.com" class="extlink">Tailwind</a>.
  </p>
</footer>
